main section {
    padding: 2.25rem 0.625rem;
}

section .container h2 {
    font-family: var(--fuentetitulos);
    font-size: 2rem;
    text-align: center;

    & span {
        color: var(--colorprincipal)
    }
}


section .container .underline {
    position: relative;
    width: 6.25rem;
    margin: 0 auto 1.875rem auto;
    color: var(--colorprincipal);
    font-weight: 700;
    text-align: center;

    & hr {
        position: absolute;
        top: -0.125rem;
        width: 100%;
        border: 0.0625rem solid var(--colorprincipal);
    }
}

section .grid {
    display: grid;

    & article {
        padding: 1.25rem 0;
        border-bottom: 1px solid #aaa;
    }
}

section h3 {
    margin: var(--gap) 0;
    font-weight: 700;
    font-size: 115%;
}

section p {
    color: #666;
    font-size: 95%;
    line-height: 1.25rem;
    margin-bottom: var(--gap);

}

section article a {
    color: var(--colorprincipal);
    text-decoration: none;
    font-weight: 700;
}

section article>div i {
    border: 1px solid var(--colorprincipal);
    display: inline-block;
    padding: 0.8rem;
    font-size: 150%;
    color: var(--colorprincipal);
}

section h4 {
    color: var(--colorprincipal);
    font-size: 110%;
    margin-bottom: var(--gap);
}



section figure .marco {
    border: 0.1875rem solid var(--colorprincipal);
    width: 90%;
    margin-top: 1.25rem;
    transform: rotateZ(10deg);
    transition: 1s;

    & img {
        transform: rotateZ(-10deg);
        transition: 1s;
    }
}



/* existe un pseudoclase que me permite contener diferentes elementos no se aplica sobre ningun elemento */
section figure:hover :is(.marco, img) {
    transform: rotateZ(0deg);
}